.input {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10vh;
  margin: auto;
  width: 30vw;
  padding: 7px;
  border: 0;
  border-bottom: 1px solid white;
  background-color: #100e10;
  color: white;
  width: 50vw;
}
