.input{
    position:fixed;
    left: 0;
    right: 0;
    bottom: 10vh;
    margin: auto;
    width: 30vw;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 3px 3px 10px 10px #efefef;
    border:0;
    width: 50vw;
    
}