.user {
  cursor: pointer;
  width: 10vw;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-100px);
  transition: background-color 0.5s;

  &:hover {
    background-color: #efefef;
  }

  &__active {
    background-color: #e9ecef;
    &:hover {
      background-color: #e9ecef;
    }
  }
}
