.homePage {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.userList {
  padding: 10px;
  border-right: 1px solid white;
  width: 15vw;
  height: 85vh;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 79.5vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 60vw;
}
