.loginFrame {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginForm {
  background-color: none;
  font-family: "Heiti";
  border-radius: 20px;
  border: 1px solid white;
  width: fit-content;
  padding: 20px;
  text-align: center;

  &Logo {
    width: 7vw;
    height: auto;
  }
}
